
.answer-button{
    -fx-background-color: #09cdda;
    -fx-text-fill: white;
}

.answer-button:hover{
    -fx-background-color: #09babe;
}

.settings-button{
    -fx-background-color: #09cdda;
}

.settings-button:hover{
    -fx-background-color: #09babe;
}


.menu-buttons{
    -fx-background-color: #09cdda;
    -fx-font-family: "Boldstrom";
    -fx-font-size: 35;
}

.menu-buttons:hover{
    -fx-background-color:#09babe;
    -fx-font-family: "Boldstrom";
    -fx-font-size: 35;
}

.login-button{
    -fx-background-color: #09cdda;
    -fx-font-family: "Boldstrom";
    -fx-font-size:15;

}
.login-button:hover{
    -fx-background-color: #09babe;;
    -fx-font-family: "Boldstrom";
    -fx-font-size:15;

}