


.sign-title{
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, black, 20, 0.1, 0.1, 0);
}



.login-background{
    -fx-background-color: #108b94;
    -fx-background-radius: 5;
    -fx-border-color: white;
    -fx-border-radius: 5;
    -fx-border-width: 3;
}

.other-button{
    -fx-text-fill: white;
    -fx-background-color: #09cdda;
    -fx-background-radius: 5;
    -fx-border-color: white;
    -fx-border-radius: 5;
    -fx-border-width: 2;
    
}


.other-button:hover{
    -fx-background-color: #09babe;
    -fx-cursor: hand;
}

.other-button:pressed{
    -fx-background-color: #09be66;
}