

.image-view-wrapper:border {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 5;
}



.question-panel-background-2{
    -fx-background-color: transparent;
    /*
    -fx-background-color: linear-gradient(to top, #000000, #09babe);
    */
    -fx-background-radius: 12;
    -fx-border-color: white;
    -fx-border-radius: 10;
    -fx-border-width: 6;
}



.login-background{
    -fx-background-color: linear-gradient(to top, #000000, #09babe);
}



/*


*/