
.image-background{
    -fx-background-color: transparent;
    /*
    -fx-background-color: linear-gradient(to top, #000000, #09babe);
    */
    -fx-background-radius: 12;
    -fx-border-color: white;
    -fx-border-radius: 10;
    -fx-border-width: 7;
}



.login-background{
    -fx-background-color: linear-gradient(to top, #000000, #09babe);
}



/*


*/