
.scene-background{
    -fx-background-color: #0A2826;
}

/*
    background-color: #030F0D;
    background-color: #0A2826;

*/

.title{
    -fx-text-fill: #09cdda;
    /*
    -fx-effect: dropshadow(gaussian, black, 20, 0.1, 0.1, 0);
    */
}

.subtitle{
    -fx-text-fill: white;
    /*
    -fx-effect: dropshadow(gaussian, black, 20, 0.1, 0.1, 0);
    */
}

/*
    -fx-text-fill: #3968AB;
    -fx-text-fill: #6A95C5;
    -fx-border-color: #077981;

*/
