.root{
    -fx-background-color: Beige;
}

#smurfinatorLabel{
    -fx-font-size: 80;
    -fx-font-family: "Boldstrom";
    -fx-text-fill: #09cdda;
    /*funkar inte än :( */
    -fx-effect: dropshadow(gaussian, rgba(128, 128, 128, 0.5), 5, 0, 0, 0);
    -fx-stroke: black;
    -fx-stroke-width: 100;

}